
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    background-color: black;
    color: white;
    font-family: "JetBrains Mono", monospace;
}

.smoll {
    color: grey;
    font-size: small;
    text-align: center;
}

.centercontainer {
    width: fit-content;
}

.text-blue-500 {
    color: #4466FF;
    text-decoration: none;
}
.text-purple-500 {
    color: #BB66FF;
    text-decoration: none;
}
.text-red-500 {
    color: #FF0000;
    text-decoration: none;
}

.text-green-500 {
    color: #31e620;
    text-decoration: none;
}

.navbar_ul {
  overflow: hidden;
  background-color: #4466FF;
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.navbar_ul li {
  float: left;
}

.navbar_ul li a {
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
  display: block;
  color: white;
}

.navbar_ul li a:hover {
  background-color: #111111;
}

